{% extends 'listings/base.html' %}

{% block content %}
<h1>Importation des données</h1>

<p>
    Veuillez importer une source de donnée (.xlsx) : 
</p>
<form action="" method="POST" class="ui form" enctype="multipart/form-data">
    {%csrf_token%}
    {{form}}
    <input type="file" name="document" id="document" required="required">
    <button id="submit" class="btn-primary" onclick="sessionStorage.clear();">Upload</button>
</form>

{% endblock %}

{% block messages %}
    {% if messages %}
        <div class="container" style="color: firebrick; margin-top: 20px" >
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

